@font-face {
  font-family: 'GothamRoundedLight';
  src: url(../fonts/gothamrnd-light.ttf);
}

body {
  color: #454545;
  font-family: GothamRoundedLight;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #F3F5F8;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #F3F5F8;
    background: #EC8200;
    border-left-color: #333333;
}

/* request from Ricardo */
.skin-blue .sidebar a {
    color: #9f9f9f;
}


.left-side, .main-sidebar {
  padding-top: 0;
}

.content-wrapper, .right-side {
  /*background-color: #F3F5F8;*/
  background-color: white;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: GothamRoundedLight;
}

/* info-box */
.info-box-text {
  text-transform: uppercase;
}

div.inner > p {
  margin: 0;  
}


div.inner > h3 {
  margin: 0;  
}


/* value-box */
.small-box .icon-large {
    color: rgba(255, 255, 255, 0.1);
}

/* range input */
.irs-bar {
    border-top: 1px solid #EC8200;
    border-bottom: 1px solid #EC8200;
    background: #EC8200;
}

.irs-from, .irs-to, .irs-single {
    background: #EC8200;
}

.irs-bar-edge {
    border: 1px solid #EC8200;
    background: #EC8200;
}

.highcharts-container {
  overflow: visible !important;
}

/* tab */
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #EC8200;
}
